<% layout('layout') -%>
<header>
	<a href="/"><img class="csLogo" src="http://drive.google.com/uc?export=view&id=0B0PkWX3H1zNAZS10Y0VUOGNMWlU"></a>
	<a id="loginlink" href="/user/login">Login</a>
</header>
<%- body %>