+modal-lg("create")
	.modal-header
		button.close(type="button" data-dismiss="modal" area-label="Close")
			span(aria-hidden="true") &times;
		h4.modal-title Create an Article
	.modal-body
		form(action="/article/create" method="POST")
			.form-group.col-xs-12
				label Title
				input.form-control(name="title" type="text" placeholder="Title")
			.form-group.col-xs-12
				label Reference
				input.form-control(name="reference" type="text" placeholder="This reference is for clarifying what your article is about or what source you get your information from.")
			.form-group.col-xs-12
				label Article body
				input.form-control(name="body" type="text" placeholder="Article body")
			.form-group
				button.btn.btn-block.btn-primary#prevSignup(type="submit") Submit