mixin modal-lg(id)
	.modal.fade(id=id tabindex="-1" role="dialog" aria-labelledby=id aria-hidden="true")
		.modal-dialog.modal-lg
			.modal-content
				block
mixin modal-sm(id)
	.modal.fade(id=id tabindex="-1" role="dialog" aria-labelledby=id aria-hidden="true")
		.modal-dialog.modal-sm
			.modal-content
				block
