+modal-sm("create")
	.modal-header
		button.close(type="button" data-dismiss="modal" area-label="Close")
			span(aria-hidden="true") &times;
		h4.modal-title Create an Topic
	.modal-body
		form(action="/article/create" method="POST")
			.form-group.col-xs-12
				label Topic
				input.form-control(name="title" type="text" placeholder="Title")
			.form-group
				button.btn.btn-block.btn-primary#prevSignup(type="submit") Submit