<% layout('user/layout') -%>
<section id="top">
	<article class="topinfo">
		<h3>Hello,welcome back hope your having a fantastic day. </h3>
		<p>If you have any trouble loging in please follow these links.</p>
		<a href="">Forgot password?</a>
		<a href="">Broken Form?</a>
	</article>
</section>
<section id="bottom">		
	<article id="login">
		<form class="form" method="POST" action="/user/login">
		<h3>Welcome Please Login</h3>
		<div class="form-group">
			<input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
		</div>
		<div class="form-group">
			<input name="password" type="password" class="form-control" id="InputPassword1" placeholder="Password" required>
		</div>
		<div class="checkbox">
			<label>
			  <input type="checkbox"> Remember my password.
			</label>
		</div>
		<button class="btn btn-block btn-primary">Sign in</button>
		<p><a href="/user/signup">Not a member? Sign-up today!</a></p>
		</form>
	</article>
</section>