body{
	width: 100%;
	margin: 0 auto;
}
.item { width: 25%; }
.item.w2 { width: 50%; }

header{
	width: 100%;	
	height: 84px;
	background-color: #aaa;
}

/*header*/
.csLogo{
	height: 100%;
}
#logoclear{
	color:#08d;
}
#logosource{
	color:#eee;
}
#loginlink{
	float: right;
	vertical-align: middle;
}

/*footer*/
footer{
	width: 100%;
	text-align: center;
	display: block;
	overflow: hidden;
}

/*Login body*/
#top {
	text-align: center;
	padding: 2em;
	padding-top: 10px;
	background-color: #bbb;
}

#bottom{
	text-align: center;
	padding: 2em;
	padding-top: 10px;

}
#login,#signup{
	width: 30%;
	padding-top: 10px;
	margin: 0 auto;
	margin-top: 2em;
}

#login h3,#signup h3{
	margin-top:2.5em;
}

