body{
	width: 100%;
	margin: 0 auto;
}
.item { width: 25%; }
.item.w2 { width: 50%; }

header{
	width: 100%;	
	height: 84px;
	background-color: #ccd;
	

}

/*header*/
.csLogo{
	height: 100%;
}

#loginlink{
	float: right;
	vertical-align: middle;
}

/*footer*/
footer{
	width: 100%;
	text-align: center;
	display: block;
	overflow: hidden;
}

/*Login body*/
#login,#signup{
	padding-top: 10px;
	margin: 4em;
	margin-top: 2em;
}

#login h3,#signup h3{
	margin-top:2.5em;
}

#top: {
	padding: 2em;
	padding-top: 10px;
	background-color: #ccc;

}

#left h3,#left a{
	color:#eee;
}

#right{
	color: #eee;
	padding: 2em;
	padding-top: 10px;
	background-color: #ccd;
}