body{
	width: 100%;
	margin: 0 auto;
}
.item { width: 25%; }
.item.w2 { width: 50%; }

header{
	width: 100%;	
	height: 84px;
	background-color: #CCC;
}
/*header*/
.csLogo{
	height: 100%;
}
#loginlink{
	float: right;
	vertical-align: middle;
}
/*Login body*/
#login,#signup{
	background-color: #ccc;
	margin: 2em;
	margin-top: 10px;
	float: left;
	width: 46%%;
}
