<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Login</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	    <link rel="stylesheet" href="assets/css/main.css">
	    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	</head>
	<body>
		<h3>Welcome Please Login or sign-up below.</h3>
		<p>Login</p>
		<form method="get" action="/">
			<label for="email">Email</label>
			<input name="email" type="text" placeholder="Example@provider.com">
			<button type='submit'>Submit</button>
		</form>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>