<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Login</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
	    <link rel="stylesheet" href="assets/css/main.css">
	    <script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	</head>
	<body>
		<header>
			<a href="/"><img class="csLogo" src="http://drive.google.com/uc?export=view&id=0B0PkWX3H1zNAZS10Y0VUOGNMWlU"></a>
		</header>
		<section id="left">
				<h3>Hello, welcome to CLEARSOURCE</h3> 

				<p>Here we strive to give you as a knowledgeable person a location to further your field while getting assistance yourself. </p>
				<a href="">Forgot password?</a>
				<a href="">Broken Form?</a>
		</section>
		<section id="right">		
			<article id="login">
				<form class="form" method="get" action="/">
				<h3>Register to become a member.</h3>
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
				</div>
				<div class="form-group">
					<label for="InputPassword1">Password</label>
					<input type="password" class="form-control" id="InputPassword1" placeholder="Password" required>
				</div>
				<div class="checkbox">
					<label>
					  <input type="checkbox"> Check me out
					</label>
				</div>
				<button type="submit" class="btn btn-primary">Sign in</button>
				<p><a href="signup">Not a member? Sign-up today!</a></p>
				</form>
			</article>
		</section>
		<footer>
			<a href="">Created by me</a>
		</footer>
		<script src="assets/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.0/isotope.pkgd.min.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>