extends ../layout

- var itr = 10
block body
	section.container
		- for var i=1; i<itr; i++
			article.item	
				h2="Date: "+i
				p.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis non iaculis nunc.
					Suspendisse vehicula, purus ut pulvinar convallis, augue velit bibendum magna, eget
					vestibulum nisl ante sed nulla. Curabitur tempor elementum viverra. Nulla vestibulum
					orci sed mauris malesuada, et posuere lorem condimentum. Proin nec tellus quam. Etiam
					eu euismod nulla, sit amet convallis elit. Etiam et sapien blandit, consectetur nibh non,
					scelerisque diam. Sed in massa nulla. Pellentesque vehicula velit non porttitor aliquam.